.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px); 
  border-bottom: 1px solid #e2e8f0;
  padding: 0.8rem 0;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.logo-icon {
  background: #8b5cf6;
  color: white;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1.2rem;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -0.5px;
}


.tools-text { color: #fc8803; }

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: #030f1f;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #fb8601;
}


/* Mobile Responsive */
@media (max-width: 600px) {
  .nav-links { gap: 12px; }
  .nav-cta { display: none; } 
}




/* navbar */
.nav-brand {
  position: relative;
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: -1.5px;
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 12px;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
}


/* Stylish Animated Underline */
.nav-brand::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;

  background: #fa9601;
  transition: all 0.3s ease;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 0 0 9px rgba(96, 165, 250, 0.8);
}

/* Hover Effects */
.nav-brand:hover {

  backdrop-filter: blur(4px);
  transform: translateY(-1px);
}

.nav-brand:hover::after {
  width: 80%; /* Underline expand hogi */
}

/* "Tools" text hover glow */
.nav-brand:hover .tools-text {
  filter: drop-shadow(0 0 8px rgba(96, 165, 250, 0.6));
}


.my-text {
  color: #e28502;
  font-weight: 800; 
  margin-right: 2px;
}
