.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px); /* Glassmorphism effect */
  border-bottom: 1px solid #e2e8f0;
  padding: 0.8rem 0;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.logo-icon {
  background: #8b5cf6;
  color: white;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1.2rem;
}

.logo-text {
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: -0.5px;
}

.my-text { color: #1e293b; }
.tools-text { color: #8b5cf6; }

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: #030f1f;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  /* font-size: 0.95rem; */
  transition: color 0.3s;
}

.nav-item:hover {
  color: #fb8601;
}


/* Mobile Responsive */
@media (max-width: 600px) {
  .nav-links { gap: 12px; }
  .nav-cta { display: none; } /* Mobile pe Premium button chhupa dega space ke liye */
}



